.prose code[class*='language-'],
.prose pre[class*='language-'] {
	@apply bg-surface rounded-b-sm text-label-small;
	tab-size: 2;
}

.prose pre {
	@apply overflow-auto border-t border-surface-variant py-4;
	line-height: 34px;
}

.prose pre .code-line {
	@apply pl-6;
}

.prose pre .line-number {
	padding: 0;
}

.prose pre > code {
	counter-reset: step;
	counter-increment: step 0;
}

.prose code:not(pre > code) {
	@apply bg-surface rounded-sm px-2 py-1 text-label-small;
	font-family: 'Noto Sans Mono Variable', sans-serif;
	font-display: swap;
}

.prose blockquote code:not(pre > code) {
	@apply bg-surface-variant;
}

.prose kbd,
.prose code {
	font-family: 'Noto Sans Mono Variable', sans-serif;
	font-display: swap;
}
/* 
html[data-font='dyslexic'] .prose kbd,
html[data-font='dyslexic'] .prose code {
	font-family: var(--font-dyslexic-mono);
} */

/* .prose kbd {
    @apply p-1;
	color: var(--clr-code-inline-txt);
	background-color: var(--clr-code-inline-bg);
	border: 1px solid var(--clr-primary);
	border-width: 1px 1px 3px;
	border-radius: var(--rounded-4);
} */

.prose .rehype-code-title {
	@apply bg-surface inline-flex w-full max-w-4xl justify-between rounded-t-sm px-6 pt-4 text-label-large text-primary;
	z-index: 1;
}

.prose .rehype-code-title button {
	@apply hidden;
	/* background-image: url(/clipboard.svg); */
}
.prose .rehype-code-title button:hover {
	@apply btn-outlined;
}

.prose .line-number::before {
	@apply mr-4 inline-block w-4 px-4 text-right text-primary;
	content: counter(step);
	counter-increment: step;
}

.prose .highlight-line {
	@apply block bg-surface-variant/20 text-tertiary;
}

.prose .code-line.inserted {
	display: block;
	background-color: hsl(160 84% 39% / 20%);
}

.prose .code-line.deleted {
	display: block;
	background-color: hsl(0 84% 60% / 20%);
}

.prose .token.regex,
.prose .token.important,
.prose .token.variable,
.prose .token.function,
.prose .token.class-name,
.prose .language-css .token.rule {
	@apply text-primary;
}

.prose .token.keyword,
.prose .language-css .token.variable,
.prose .language-css .token.selector,
.prose .language-css .token.pseudo-element {
	@apply text-secondary;
}

.prose .token.tag,
.prose .token.boolean,
.prose .token.constant,
.prose .token.symbol,
.prose .token.deleted,
.prose .token.entity,
.prose .token.url,
.prose .style .token.string {
	@apply text-on-tertiary-container;
}

.prose .token.operator,
.prose .token.punctuation,
.prose .literal-property.property,
.prose .token.property,
.prose .token.attr-name,
.prose .token.string,
.prose .token.char,
.prose .token.builtin,
.prose .token.inserted,
.prose .language-css .unit,
.prose .language-css .token.function,
.prose .token.atrule .token.property,
.prose .token.atrule .token.rule {
	@apply text-tertiary;
}

.prose .token.comment,
.prose .token.prolog,
.prose .token.doctype,
.prose .token.cdata {
	@apply text-on-surface/50;
}
