.prose header {
	@apply my-32 text-center flex flex-col gap-4;
}

.prose h1 {
	@apply text-primary text-display-medium;
}

.prose h2 {
	@apply text-primary mb-6 mt-16 text-title-large;
}

/* no one has to know 🤫 */
.prose #table-of-contents + ul a {
	text-decoration: none;
	font-weight: inherit;
}

.prose p > a,
.prose li > a {
	@apply underline;
}

.prose p,
.prose li {
	@apply text-body-medium block;
}

.prose hr {
	@apply divider-middle my-2;
}

.prose iframe,
.prose video,
.prose pre,
.prose .rehype-code-title {
	grid-column: gutter-start / gutter-end;
}

.prose img {
	justify-self: center;
	grid-column: gutter-start / gutter-end;
}

.prose ul li:has(a) {
	@apply inline-flex items-center;
}

.prose img,
.prose iframe,
.prose video,
.prose p,
.prose ol,
.prose pre,
.prose blockquote,
.prose details {
	@apply mb-4;
}

.prose li > ul {
	margin-bottom: 0;
}

.prose ul,
.prose ol {
	@apply flex flex-col list-inside list-none gap-y-4 my-2;
}

.prose ul li::before {
	@apply pr-2;
	content: url(https://m3.material.io/static/assets/list-bullet-dark.svg);
}

.prose li > ul,
.prose li > ol {
	@apply mt-2 pl-4;
}

.prose li > ul > li {
	list-style-type: circle;
}

.prose li > ul > li::before {
	content: none;
}

.prose ol {
	list-style-type: decimal;
}

.prose blockquote {
	@apply bg-surface rounded-md p-8;
}

.prose blockquote p {
	margin-bottom: 0;
}

.prose details summary {
	color: red;
	font-weight: 700;
}

.prose {
    @apply mx-auto;
}

