@tailwind base;
@tailwind components;
@tailwind utilities;


body > div {
	min-block-size: 100vh;
}

.button {
	@apply text-label-large rounded-3xl px-6 py-2 transition;
}

.button:hover {
	@apply shadow-md;
}

input, textarea {
	@apply interactive-bg-surface-variant ring-on-surface-variant w-full 
	rounded-xl border-none py-2 pl-4 ring-1 transition;
}

input:placeholder {
	@apply text-on-surface-variant;
}

input:focus {
	@apply ring-on-surface-variant ring-2;
}

.prose {
	@apply flex flex-col gap-y-2;
}

.prose :is(h1,h2,h3,h4,h5) {
	@apply text-primary;
}

.prose :is(h1) {
	@apply text-title-large;
}

.prose h2 {
	@apply text-title-medium;
}

.props h3 {
	@apply text-title-small;
}

.prose ul {
	@apply flex flex-col py-2;
}

.prose ul li {
	@apply py-2 pl-3 pr-6;
}

.prose a {
	@apply underline text-tertiary;
}

.prose pre {
	max-inline-size: 100%;
	tab-size: 2;
	@apply p-2 rounded-xl bg-background font-mono text-body-small overflow-x-scroll;
}

.prose p {
	@apply text-body-medium;
}

.prose img {
	@apply w-full max-h-48 object-cover object-center bg-background;
}
